*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-size: cover;
    background-position: top;
    font-family: Times new Roman;
    height: 3cm;
}

.menu-bar
{ 
    text-align: center;
    font-size: x-large;
    background-color: black;

}

.menu-bar ul
{
    display: inline-flex;
    text-align: center;
}

.menu-bar ul li
{
    width: 200px;
    height: 100px;
    padding: 1cm;
}

.aboutme
{
    padding: 1cm;
    display: flex;
    height: 17cm;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: maroon;
}

.education
{
    display: flex;
    height: 17cm;
    background-color: lightblue;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.project
{
    display: flex;
    height: 18cm;
    background-color: maroon;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.contactme
{   
    padding: 9cm;
    display: flex;
    height: 17cm;
    flex-direction: row;
    background-color: lightblue;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.certification
{
   
    display: flex;
    height: 17cm;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    image-rendering: 12cm;
}

img
{
    cursor: pointer;
    margin: 1cm;
    width: 300px;
}

.home
{
    display: flex;
    height: 17cm;
    background-color: lightblue;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.timetable
{
    display: flex;
    height: 17cm;
    background-color: maroon;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.form
{
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
}
.contact
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}